@media (max-width: 640px) {

	#main p {
		font-size: 2.2rem;
	}

	#our-mission p {
		font-size: 1.2rem;
        padding: 0px 40px;
	}
}

@media (max-width: 550px) {

	ul{
		display: none;
	}
}

@media (max-width: 410px) {
    #main p {
		font-size: 1.7rem;
	}

    #our-mission p {
		font-size: 0.8rem;
        padding: 0px 40px;
	}
}



